#explorer {
  display: flex;
  flex-direction: row;
}
#explorer .frame {
  padding: 25px;
  height: 100%;
  width: 50%;
  max-width: 100%;
}
#explorer .frame ul {
  padding: 0;
  margin: 0;
  float: left;
  list-style-type: none;
}
#explorer .frame ul li {
  height: fit-content;
  width: fit-content;
}
#explorer nav {
  background-color: #111;
}
#explorer nav li {
  color: #00ff33;
}
#explorer #list {
  background-color: #1e1e1e;
}
#explorer .resizer {
  height: 100%;
  width: 3px;
  box-shadow: 1px 0 0;
  background-color: #0c0c0c;
}
#explorer .resizer:hover {
  cursor: w-resize;
  background-color: #161616;
}
