@bg: #111;

@lighten: 2%;

#explorer {
  display: flex;
  flex-direction: row;

  .frame {
    padding: 25px;
    height: 100%;
    width: 50%;
    max-width: 100%;

    ul {
      padding: 0;
      margin: 0;
      float: left;

      list-style-type: none;

      li {
        height: fit-content;
        width: fit-content;
      }
    }
  }

  nav {
    background-color: @bg;

    li {
      color: #00ff33;
    }
  }

  #list {
    background-color: lighten(@bg, 5);
  }

  .resizer {
    height: 100%;
    width: 3px;

    box-shadow: 1px 0 0;

    background-color: darken(@bg, @lighten);
  }

  .resizer:hover {
    cursor: w-resize;

    background-color: lighten(@bg, @lighten);
  }
}
