@bg: #222;

@lighten: 10%;

nav {
  display: flex;
  flex-direction: column;
  width: fit-content;

  background-color: @bg;

  #navigator {
    height: 100%;
    width: 90%;

    ul {
      li {
      }
    }
  }

  #resizer {
    height: 100%;
    width: 10%;

    background-color: @bg;
  }

  #resizer:hover {
    cursor: w-resize;

    background-color: lighten(@bg, @lighten);
  }
}
