#alertBox {
  z-index: 1;
  /* The alert message boxes */
}
#alertBox .alert {
  display: block;
  padding: 15px;
  margin-bottom: 15px;
  height: 15px;
  left: 10px;
  color: #000;
}
#alertBox .alert:hover {
  cursor: pointer;
}
#alertBox #error {
  background-color: #ff4433;
}
#alertBox #warning {
  background-color: #ffcc00;
}
#alertBox #info {
  background-color: #00ccff;
}
#alertBox #success {
  background-color: #44ff33;
}
#alertBox #error:hover {
  background-color: #ff7366;
}
#alertBox #warning:hover {
  background-color: #ffd633;
}
#alertBox #info:hover {
  background-color: #33d6ff;
}
#alertBox #success:hover {
  background-color: #73ff66;
}
