/* Global .less-Variables */
/* Responsive media query, optimized for Smartphone+ Size */
/* Responsive media query for portrait mode */
/* Responsive media query for landscape mode */
/* Responsive media query, optimized for tablet Size */
/* Responsive media query, optimized for Smartphone+ Size */
/* Responsive media query for portrait mode */
/* Responsive media query for landscape mode */
/* Color-codes */
/* Box-Shadow */
/* offset-x | offset-y | blur-radius | spread-radius | color */
/* Transition-data */
/* Z-layer positioning */
/* Font-sizes */
#app {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#app .screen {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100%;
  background-size: 50px;
  z-index: inherit;
}
#app .screen ul {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  background-size: 50px;
}
#app .screen ul li {
  padding: 25px;
  width: 100%;
}
#app .screen ul li:hover {
  cursor: pointer;
}
