#display {
	display: block;

	height: 100%;
	width: 100% !important;

	background: url('../../../res/img/pattern_b3.png');
	background-size: 5%;

	z-index: 1;

	main {
		overflow-y: auto;

		padding: 25px;
		padding-top: 50px + 25px;
		height: 100%;
		width: 100%;

		.line:hover {
			cursor: pointer;

			background-color: #353535;
		}
	}
}
