#display {
  height: 100%;
  width: 100%;
  background: url("../../../res/img/pattern_b.png");
  background-size: 10%;
}
#display main {
  padding: 25px;
  padding-top: 75px;
  height: 100%;
  width: 100%;
}
