@bg: #353535;
@pattern: 5%;

#display {
  display: block;

  height: 100%;
  width: 100% !important;

  background: url("../../../res/img/pattern_b3.png");
  background-size: @pattern;

  main {
    overflow-y: auto;
    margin: 25px;
    margin-top: 50px + 25px;
    height: 100%;
    width: 100%;

    .word {
      display: inline-block;

      padding: 0;
      margin: 0;
      margin-right: 4px;
      width: fit-content;
    }

    .word:hover {
      cursor: pointer;

      color: #ff8800;
      background-color: #555;
    }
  }
}
