@bg: #353535;

#display {
  height: 100%;
  width: 100%;

  background: url("../../../res/img/pattern_b.png");
  background-size: 10%;

  main {
    padding: 25px;
    padding-top: 50px + 25px;
    height: 100%;
    width: 100%;
  }
}
