#display {
  height: 100%;
  width: 100% !important;
  background: url("../../../res/img/pattern_b3.png");
  background-size: 5%;
}
#display main {
  padding: 25px;
  padding-top: 75px;
  height: 100%;
  width: 100%;
}
