@import './global.less';

/* Fonts */
@font-face {
	font-family: Gothic;
	src: url(../res/fonts/century_gothic.ttf);
}

@font-face {
	font-family: SegoeUI;
	src: url(../res/fonts/segoe_ui.ttf);
}

/* Global reset */
*,
p,
a,
input,
button {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	box-shadow: none;
	outline: none;
	border: none;

	font-family: SegoeUI;
	font-size: 14px;
	text-decoration: none;
	word-wrap: break-word;
	color: #fff;
}

/* Custom Fraunhofer-themes scrollbar */
::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	background-color: #ddd;
}

::-webkit-scrollbar-thumb {
	background-color: #ddd;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ddd;
}

.hidden {
	display: none;
}

.container {
	border-radius: 0.25em;
	box-shadow: @outboundShadow;
}

/* CSS-icons */
.triangle {
	width: 0;
	height: 0;

	border-left: 1em solid transparent;
	border-right: 1em solid transparent;
	border-bottom: 2em solid #000;
}

/* Custom Fraunhofer-themes scrollbar */
::-webkit-scrollbar {
	width: 0.8em;
}

::-webkit-scrollbar-track {
	background: #ddd;
}

::-webkit-scrollbar-thumb {
	background: @fhAccent;
}

::-webkit-scrollbar-thumb:hover {
	background: @fhLightAccent;
}

body {
	overflow: hidden;

	height: 100vh;
	width: 100vw;

	//background: url('');
	//background-size: 25%;

	#root {
		overflow: hidden;

		height: 100%;
		width: 100%;
	}
}

@media @query {
	body {
		position: fixed;

		padding: 0;
		height: -webkit-fill-available !important;
		width: -webkit-fill-available !important;
	}
}
