/* Variables */
/* Custom fonts */
/* Custom-font: Century Gothic */
@font-face {
  font-family: Gothic;
  src: url(../res/fonts/century_gothic.ttf);
}
/* Hard-Reset */
* {
  margin: 0;
  padding: 0;
  font-family: Gothic;
  font-size: 12px;
  box-shadow: none;
  outline: none;
  border: none;
}
.hidden {
  display: none;
}
/* Cursor-Selection Color */
::selection {
  background-color: #ccc;
}
/* Custom-Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #252525;
}
::-webkit-scrollbar-thumb {
  background: #ff8800;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff6600;
}
/* Custom input */
textarea,
input,
button {
  outline: none;
  border: none;
}
input,
textarea,
li {
  user-select: all;
}
input,
textarea {
  resize: none;
  padding: 2px;
  color: #353535;
  background-color: #aaa;
}
input:hover,
textarea:hover {
  background-color: #ccc;
}
input:focus,
textarea:focus {
  background-color: #ff8800;
}
input:focus::placeholder,
textarea:focus:placeholder {
  color: transparent;
}
::placeholder {
  padding: 0 2px;
  opacity: 0.25;
  color: black;
  font-style: italic;
}
/* Button-Style */
button {
  padding: 5px 10px;
  background-color: #ff8800;
  color: #fff;
}
button:hover {
  cursor: pointer;
  filter: brightness(120%);
}
button:active {
  filter: brightness(90%);
}
/* Unordered List */
ul {
  overflow: hidden;
  overflow-y: scroll;
  padding: 10px;
  height: 328px;
  width: 100px;
  list-style-type: none;
  border: none;
  background-color: #333;
}
ul li {
  padding: 5px 0;
  padding-left: 5px;
  margin-bottom: 10px;
  width: 95%;
  color: #fff;
}
ul li:hover {
  cursor: pointer;
  color: #000;
  background-color: #ff8800;
}
ul li:last-child {
  margin-bottom: 0;
}
/* Seperators */
hr {
  height: 1px;
  border: none;
  background-color: #777;
}
.vertical {
  color: #353535;
  width: 1px;
}
/* Navigation bar */
nav {
  position: sticky;
  display: flex;
  justify-content: flex-end;
  padding: 0 10px;
  background-color: #353535;
  z-index: 1;
}
/* Dynamically generated HTML-Content */
body {
  -webkit-app-region: no-drag;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: #222 !important;
  /* Main Container */
  /* Background */
}
body #alerts {
  /* The alert message boxes */
}
body #alerts .alert {
  display: block;
  padding: 15px;
  margin-bottom: 15px;
  height: 15px;
  left: 10px;
  color: #000;
}
body #alerts .alert:hover {
  cursor: pointer;
}
body #alerts #error {
  background-color: #ff4433;
}
body #alerts #warning {
  background-color: #ffcc00;
}
body #alerts #info {
  background-color: #00ccff;
}
body #alerts #success {
  background-color: #44ff33;
}
body #alerts #error:hover {
  background-color: #ff7366;
}
body #alerts #warning:hover {
  background-color: #ffd633;
}
body #alerts #info:hover {
  background-color: #33d6ff;
}
body #alerts #success:hover {
  background-color: #73ff66;
}
body main {
  overflow-y: auto;
  box-sizing: border-box;
  padding: 10px;
  height: fit-content;
  width: 100%;
  background-color: #444;
}
body #bg {
  display: block;
  height: 100%;
  width: 100%;
}
body #bg img {
  -webkit-app-region: no-drag;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
body #bg #hex_bg {
  left: 0;
  padding: 0;
  opacity: 0.1;
  z-index: -1;
}
body #bg .bg_img {
  animation: rotate 1s ease;
}
@keyframes rotate {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}
