#app {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#app .screen {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100%;
  width: fit-content;
  max-width: 1000%;
  background-size: 50px;
}
#app .screen ul {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
}
#app .screen ul li {
  padding: 25px;
  width: 100%;
}
#app .screen ul li:hover {
  cursor: pointer;
}
#app .screen .resizer {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: #111;
  transition: 0.25s all;
}
#app .screen .resizer:hover {
  cursor: w-resize;
  width: 3px;
}
