#app {
  display: flex;
  flex-direction: row;
  flex: 1 1 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
#app .screen {
  overflow: hidden;
  position: relative;
  display: flex;
  height: 100%;
  width: fit-content;
  background-size: 50px;
}
#app .screen ul {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  list-style-type: none;
  background-size: 50px;
}
#app .screen ul li {
  padding: 25px;
  width: 100%;
}
#app .screen ul li:hover {
  cursor: pointer;
}
