/* Global .less-Variables */
/* Responsive media query, optimized for Smartphone+ Size */
/* Responsive media query for portrait mode */
/* Responsive media query for landscape mode */
/* Responsive media query, optimized for tablet Size */
/* Responsive media query, optimized for Smartphone+ Size */
/* Responsive media query for portrait mode */
/* Responsive media query for landscape mode */
/* Color-codes */
/* Box-Shadow */
/* offset-x | offset-y | blur-radius | spread-radius | color */
/* Transition-data */
/* Z-layer positioning */
/* Font-sizes */
#display {
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: url('../../../resources/img/pattern_b3.png');
  background-size: 3rem !important;
  z-index: 0;
}
