.word {
  pointer-events: all;
  display: inline-block;
  padding: 0;
  margin-right: 0;
  width: fit-content;
  border-spacing: 1rem;
  border-radius: 0.25rem;
}
.word.whitespace {
  margin-right: 0.25rem;
  color: #fff;
  background-color: transparent;
}
.word.bold {
  font-weight: bold;
}
.word.italic {
  font-style: italic;
}
.word.underline {
  text-decoration: underline;
}
.word.tiny {
  font-size: 8px;
}
.word.small {
  font-size: 12px;
}
.word.neutral {
  font-size: 16px;
}
.word.big {
  font-size: 20px;
}
.word.huge {
  font-size: 24px;
}
.word:hover {
  cursor: text;
  color: #ff8800;
  background-color: #555;
}
